yt-live-chat-app.theater-mode {

  // コメント上部のヘッダー
  yt-live-chat-header-renderer {
    display: none !important;
  }

  // コメント欄背景の透過
  yt-live-chat-renderer {
    background: transparent !important;
    background-color: transparent !important;
  }

  // スクロールバー
  yt-live-chat-item-list-renderer {
    div#item-scroller {

      // overflow: hidden !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // 各コメント
  yt-live-chat-text-message-renderer {

    // ユーザーアイコン
    yt-img-shadow {
      // min-width: 24px;
      // min-height: 24px;
      // background: lightblue !important;
      // border-radius: 50%;
      img {
        // display: none !important;
      }
    }

    // コメント
    div#content {

      // ユーザー名
      yt-live-chat-author-chip span#author-name {
        color: lightgray !important;
        // background: lightgray !important;
      }

      // 本文
      span#message {
        color: white !important;
        // background: white !important;
      }
    }

    // コメントのメニュー
    div#menu {
      background: transparent !important;

      // ボタンアイコン
      svg {
        color: white;
      }
    }
  }

  // コメント入力欄
  iron-pages#panel-pages {
    display: none;
  }
}
