// 親
#content {
  position: relative;

  // チャット画面
  #chat {
    background: rgba(0, 0, 0, 0.25);
    color: white;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    margin: 24px 0 0 24px;
    width: auto;
    height: auto !important;

    iframe#chatframe {
      // min-height: 630px;
    }

    // 非表示時の高さ
    &[collapsed] {
      iframe#chatframe {
        height: 0 !important;
        min-height: 0 !important;
      }
    }

    // チャット表示/非表示ボタン
    #show-hide-button {
      ytd-toggle-button-renderer.ytd-live-chat-frame {
        background-color: transparent !important;
        
        &::before {
          display: none;
        }
      }

      #text {
        color: white !important;
      }
    }
  }
}
