// overlay mode
body.overlay-mode {

  // parent
  #content {
    position: relative;

    // video player
    .html5-video-player {
      .html5-video-container {
        // video snap to right
        .html5-main-video {
          left: auto !important;
          right: 0 !important;
        }
      }
    }

    // chat window
    #chat {
      background: rgba(0, 0, 0, 0.25);
      color: white;
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      z-index: 21;
      top: 0;
      left: 0;
      right: auto;
      margin: 0;
      width: auto;
      min-height: 0px;

      // overlay on left
      &.overlay-left {
        top: 0;
        left: 0;
        right: auto;
      }

      // overlay on right
      &.overlay-right {
        top: 0;
        left: auto;
        right: 0;
      }

      // overlay on default player size
      &.player-default {
        top: var(--ytd-margin-6x);

        // overlay on left
        &.overlay-left {
          left: unquote('max(calc(var(--ytd-margin-6x)), calc((100vw - 1280px - var(--ytd-watch-flexy-sidebar-width)) / 2 - (var(--ytd-margin-6x))))');
          right: auto;
        }

        // overlay on right
        &.overlay-right {
          left: auto;
          right: unquote('max(calc(var(--ytd-watch-flexy-sidebar-width) + (2 * var(--ytd-margin-6x))), calc((100vw - 1280px - var(--ytd-watch-flexy-sidebar-width)) / 2 + (var(--ytd-watch-flexy-sidebar-width))))');
        }
      }

      // overlay on theater or fullscreen player size
      &.player-theater,
      &.player-fullscreen {
        top: 0;

        // overlay on left
        &.overlay-left {
          left: 0;
          right: auto;
        }

        // overlay on right
        &.overlay-right {
          left: auto;
          right: 0;
        }
      }

      // chat collapsed
      &[collapsed] {
        height: var(--yt-paper-button-height, auto) !important;
      }

      // chat show/hide button
      #show-hide-button {

        // transparent button background
        ytd-toggle-button-renderer.ytd-live-chat-frame {
          background-color: transparent !important;

          // hide top border
          &::before {
            display: none;
          }

          // button text color
          #text {
            color: white !important;
          }
        }
      }
    }

    // offline state bar
    .ytp-offline-slate-bar {
      left: auto;
      right: 12px;
    }
  }
}

// default
body.default-mode {
  // parent
  #content {
    // chat window
    #chat {
      // chat collapsed
      &[collapsed] {
        height: var(--yt-paper-button-height, auto) !important;
      }
    }
  }
}
