// overlay mode
body.overlay-mode {

  // chat app on overlay mode
  yt-live-chat-app {
    min-height: auto !important;

    // chat header
    yt-live-chat-header-renderer {
      display: none !important;
    }

    // transparent chat background
    yt-live-chat-renderer {
      background: transparent !important;
      background-color: transparent !important;

      // pinned chat
      yt-live-chat-banner-manager {
        background: transparent;
        padding: 0 8px;
      }

      // toast
      #toast-container {
        height: 0;;

        // toast renderer
        yt-live-chat-toast-renderer {

          // close button
          yt-button-renderer {
            display: none;
          }
        }
      }
    }

    // superchat
    yt-live-chat-ticker-renderer {
      background: transparent !important;
      padding: 3px 0 !important;

      #items.yt-live-chat-ticker-renderer {
        padding: 0 !important;
      }

      // scroll arrow
      #left-arrow-container,
      #right-arrow-container {
        background: transparent !important;
      }
    }

    // chat list
    yt-live-chat-item-list-renderer {

      // scrollbar
      div#item-scroller {

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    // individual comment
    yt-live-chat-text-message-renderer {

      // streamer comment
      &[is-highlighted],
      &[author-is-owner] {
        background: transparent !important;

        // comment user name
        yt-live-chat-author-chip span#author-name {
          color: black !important;
        }
      }

      // comment user name
      yt-live-chat-author-chip span#author-name {
        color: lightgray !important;
      }

      // comment message
      span#message {
        color: white !important;
      }

      // comment menu
      div#menu {
        background: transparent !important;

        // button icon
        svg {
          color: white;
        }
      }
    }

    // engagement
    yt-live-chat-viewer-engagement-message-renderer {

      // engagement card
      #card {
        background: transparent;
        border: 1px solid lightgray;

        // engagement message
        #message {
          color: lightgray;
        }

        // detail link
        #action-button {

          // detail link button
          yt-button-renderer {
            color: cadetblue;
          }
        }
      }
    }

    // chat input area
    yt-live-chat-message-input-renderer {
      background: transparent;
      color: lightgray;
      padding: 7px;
      border-top: 1px solid lightgray;
      overflow: hidden;

      // disabled input area
      &.disabled-input-renderer {
        display: none;
      }

      // top of chat input area
      #top {
        margin-top: 4px;

        // chat auther
        yt-live-chat-author-chip {
          display: none;

          // chat author name
          #author-name {
            color: lightgray;
          }
        }

        // chat input
        yt-live-chat-text-input-field-renderer {
          color: white;
          margin-top: 0 !important;

          // chat placeholder
          #label {
            color: darkgray;
            font-size: 12px;
          }
        }
      }

      // chat text length
      #count {
        color: lightgray;
      }

      // send chat button
      #send-button {

        // send chat icon
        yt-icon {
          color: #2196f3;
        }
      }

      // picker buttons
      #picker-buttons {

        // emoticon
        #emoji {

          // emoticon icon
          yt-icon {
            color: var(--yt-live-chat-monetization-button-glow, gold);
          }
        }

        // support button
        #product-picker {

          // support icon
          yt-icon {
            color: #c4302b;
          }
        }

        // tooltip
        paper-tooltip {
          left: 0px !important;
          right: auto !important;
          top: -6px !important;
          bottom: auto !important;

          // tooltip text
          #tooltip {
            font-size: 11px;
          }
        }
      }

      // pickers
      #pickers {
        background: white;
        border-radius: 10px;
        margin: 0;

        // emoticon picker
        yt-emoji-picker-renderer {
          margin: 16px 0 0 0;
        }

        // support picker
        yt-live-chat-product-picker-renderer {

          // support channel description
          yt-formatted-string {
            color: black;
          }

          // action buttons
          yt-live-chat-product-button-renderer {

            // button content
            paper-item {

              // button icon
              yt-icon {
                // color: #c4302b;
                padding-right: 10px;
              }

              // button text
              #text {
                color: black;
                max-width: 192px;

                // button subtext
                #subtext {

                  // button formatted subtext
                  yt-formatted-string {
                    max-width: 100% !important;
                    overflow-wrap: break-word;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-all;
                  }
                }
              }
            }
          }
        }
      }
    }

    // chat area message
    yt-live-chat-message-renderer {
      background: transparent;
      color: white;
    }
  }

  // hack Firefox
  @-moz-document url-prefix() {
    yt-live-chat-item-list-renderer {

      // scrollbar
      div#item-scroller {
        margin-right: -17px !important;
        overflow-y: scroll;
      }
    }
  }
}
